<div class="nav-container">
  <ul class="nav">
    <li class="nav__item nav__item--active">
      <a class="nav__link" [routerLink]="['/']">
        <svg class="nav__icon">
          <use xlink:href="assets/images/sprite.svg#icon-home"></use>
        </svg>
        <span>Home</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/flights']">
        <svg class="nav__icon">
          <use xlink:href="assets/images/sprite.svg#icon-aircraft-take-off"></use>
        </svg>
        <span>Flights</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/rentals']">
        <svg class="nav__icon">
          <use xlink:href="assets/images/sprite.svg#icon-key"></use>
        </svg>
        <span>Car Rentals</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/tours']">
        <svg class="nav__icon">
          <use xlink:href="assets/images/sprite.svg#icon-map"></use>
        </svg>
        <span>Tours</span>
      </a>
    </li>
  </ul>
  
  <div class="legal">
    &copy; 2022 by <b>Hristo Bogoev</b>. All rights reserved.
  </div>
</div>

