<header class="header">
  <img src="../../../assets/images/logo.png" alt="Logo" class="logo">

  <form class="search">
    <input type="text" name="search" placeholder="Search..." class="search__input">
    <button class="search__button">
      <svg class="search__icon">
        <use xlink:href="../../../assets/images/sprite.svg#icon-magnifying-glass"></use>
      </svg>
    </button>
  </form>

  <nav class="header__nav">
    <div class="header__icon-box">
      <svg class="header__icon">
        <use xlink:href="../../../assets/images/sprite.svg#icon-bookmark"></use>
      </svg>
      <span class="header__notification">3</span>
    </div>

    <div class="header__icon-box">
      <svg class="header__icon">
        <use xlink:href="../../../assets/images/sprite.svg#icon-chat"></use>
      </svg>
      <span class="header__notification">6</span>
    </div>

    <div class="header__user">
      <img src="https://hristo2612.github.io/my-image.jpg" alt="User" class="header__user-photo">
      <span class="header__user-name">Hristo</span>
    </div>
  </nav>
</header>
