<div class="gallery">
  <figure class="gallery__item">
    <img src="assets/images/hotel-1.jpg" alt="Hotel 1" class="gallery__photo">
  </figure>
  <figure class="gallery__item">
    <img src="assets/images/hotel-2.jpg" alt="Hotel 1" class="gallery__photo">
  </figure>
  <figure class="gallery__item">
    <img src="assets/images/hotel-3.jpg" alt="Hotel 1" class="gallery__photo">
  </figure>
</div>

<div class="overview">
  <h1 class="overview__heading">
    Hotel Las Venturas
  </h1>


  <div class="overview__stars">
    <svg class="overview__icon-star">
      <use xlink:href="assets/images/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/images/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/images/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/images/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/images/sprite.svg#icon-star"></use>
    </svg>
  </div>

  <div class="overview__location">
    <svg class="overview__icon-location">
      <use xlink:href="assets/images/sprite.svg#icon-location-pin"></use>
    </svg>
    <button class="btn-inline">Albufeira, Portugal</button>
  </div>

  <div class="overview__rating">
    <div class="overview__rating-average">8.6</div>
    <div class="overview__rating-count">429 votes</div>
  </div>
</div>

<div class="detail">
  <div class="description">
    <p class="paragraph">
      The hotel is located in the heart of the city, close to the main shopping area and the business district.
      It is a 10-minute walk from the beach and the famous Albufeira Strip.
      Great for families, couples and business travelers. We offer a wide range of services and facilities.
    </p>
    <p class="paragraph">
      Some of the services and facilities offered by the hotel are: 24-hour reception, free Wi-Fi, free parking,
      outdoor pool, restaurant, bar, gym, sauna, spa, business center, meeting rooms, laundry service, room service,
      luggage storage, currency exchange, car rental, airport shuttle, tour desk, ticket service, and much more.
    </p>
    <ul class="list">
      <li class="list__item">Close to the Beach</li>
      <li class="list__item">Breakfast Included</li>
      <li class="list__item">Free Airport Shuttle</li>
      <li class="list__item">Free Wifi in all rooms</li>
      <li class="list__item">Air Conditioning</li>
      <li class="list__item">Pets Allowed</li>
      <li class="list__item">We speak all languages</li>
      <li class="list__item">Perfect for Families</li>
    </ul>
    <div class="recommended">
      <p class="recommended__count">
        Icaka and 3 other friends recommend this hotel.
      </p>
      <div class="recommended__friends">
        <img src="assets/images/user-3.jpg" alt="Friend 1" class="recommended__photo">
        <img src="assets/images/user-4.jpg" alt="Friend 2" class="recommended__photo">
        <img src="assets/images/user-5.jpg" alt="Friend 3" class="recommended__photo">
        <img src="assets/images/user-6.jpg" alt="Friend 4" class="recommended__photo">
      </div>
    </div>
  </div>
  <div class="user-reviews">
    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.
      </blockquote>
      <figcaption class="review__user">
        <img src="assets/images/user-1.jpg" alt="User 1" class="review__photo">
        <div class="review__user-box">
          <p class="review__user-name">Hristo Bogoev</p>
          <p class="review__user-date">Feb 23rd, 2023</p>
        </div>
        <div class="review__rating">9.7</div>
      </figcaption>
    </figure>
    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.
      </blockquote>
      <figcaption class="review__user">
        <img src="assets/images/user-2.jpg" alt="User 2" class="review__photo">
        <div class="review__user-box">
          <p class="review__user-name">Kristina Atanasova</p>
          <p class="review__user-date">Sept 13rd, 2022</p>
        </div>
        <div class="review__rating">7.4</div>
      </figcaption>
    </figure>
    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.
      </blockquote>
      <figcaption class="review__user">
        <img src="assets/images/user-3.jpg" alt="User 3" class="review__photo">
        <div class="review__user-box">
          <p class="review__user-name">Ivan Ivanov</p>
          <p class="review__user-date">Jan 1st, 2018</p>
        </div>
        <div class="review__rating">4.5</div>
      </figcaption>
    </figure>

    <button class="btn-inline">Show All <span>&rarr;</span></button>
  </div>

  <div class="cta">
    <h2 class="cta__book-now">
      We have free rooms for every day of the year!
    </h2>
    <button class="btn">
      <span class="btn__visible">Book Now</span>
      <span class="btn__invisible">Only 4 rooms left</span>
    </button>
  </div>
</div>