@import '../../../scss/base';

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--border-bottom);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-danger);
  }

  &__location {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: var(--color-light);
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.3rem;
    font-weight: 300;
    margin-bottom: -0.5rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: 1rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: 0.8rem;
    }
  }
}

.detail {
  display: flex;
  font-size: 1.8rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-bottom);

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  font-size: 1.5rem;
  background-color: var(--color-light);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 1rem;
    margin-right: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  background-color: var(--color-light);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 2rem;
  }

  &__text {
    position: relative;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.6rem;
  }

  &__user-date {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__rating {
    font-size: 2.5rem;
    color: var(--color-danger);
  }

  &::before {
    content: '\201C';
    position: absolute;
    color: var(--color-grey-light-3);
    top: -2.6rem;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    z-index: 1;
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 1.9rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

.btn {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-danger), var(--color-danger-light));
  color: var(--color-light);
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    transition: all 0.2s;
  }

  &__invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 7.5rem;
    left: 0;
    height: 100%;
    width: 100%;
    top: -100%;
    transition: all 0.2s;
  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-danger), var(--color-danger-light));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }
}
